{% extends "base.html" %} {% block title %}Bookshelf{% endblock %} {% block content
%}
<h1>Bookshelves</h1>
<div class='container-fluid'>
    <div class='mx-auto' style='width: 75%;'>
        <br><br><br>
        <h3>Currently Reading:</h3>
        <button type="add_new_current_read" class="btn btn-primary">Add Book</button>
    </div>
</div>
<div class='container-fluid'>
    <div class='mx-auto' style='width: 75%;'>
        <br><br><br>
        <h3>Read:</h3>
        <button type="add_new_read" class="btn btn-primary">Add Book</button>
    </div>
</div>
<div class='container-fluid'>
    <div class='mx-auto' style='width: 75%;'>
        <br><br><br>
        <h3>To Read</h3>
        <button type="add_new_to_read" class="btn btn-primary">Add Book</button>
    </div>
</div>





{% endblock %}
