{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <br>
  <div class="container-fluid" class="mx-auto" style="width: 500px;">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control input-small"
        id="email"
        name="email"
        placeholder="Enter email"
        value="{{ email if email else '' }}"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control input-small"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
        value="{{ firstName if firstName else '' }}"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control input-small"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input
        type="password"
        class="form-control input-small"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
  <br />
  <button type="submit" class="btn btn-info btn-lg">Create account</button>
  <button type="login" class="btn btn-secondary btn-lg">Already have an account?</button>
  </div>
</form>
{% endblock %}
